body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 92%;
  margin: 3rem auto 0;
}

body h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

/* navbar */
.navbar {
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-left: 50px;
  cursor: pointer;
}

/* top section */
.top-section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.top-section img {
  width: 100%;
}

.top-section .message {
  padding: 6rem 0;
}

/* get started */
.email {
  width: 50%;
  color: hsl(0, 0%, 75%);
  font-size: 12px;
  padding: 9px;
  margin-right: .7rem;
}

.btn {
  width: 30%;
  color: white;
  background-color: hsl(224, 93%, 58%);
  border: 0;
  border-radius: 5px;
  padding: 9px;
}

/* middle-section */
.middle-section {
  padding: 2rem 5%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 5fr 4fr;
  background-repeat: no-repeat;
  background-position: top;
  background-color: hsl(240, 75%, 98%);
}

.middle-section .img-mid {
  width: 100%;
}

.middle-section a {
  color: hsl(170, 45%, 43%);
  border-bottom: 1px solid hsl(170, 45%, 43%);
}

.box {
  width: 60%;
  background-color: white;
  padding:1rem 2rem;
  margin: 3rem 0;
  font-size: .9rem;
  line-height: 2;
}

.id {
  display: flex;
  flex-direction: row;
}

.avatar-img img{
  width: 100%;
  width: 50px;
  border-radius: 50%;

}
.id p{
  margin-bottom: 0;
  height: 17px;
}
.info{
  padding: 5px 10px;;
  font-size: .7rem;
}
 /* last-section */
.last-section{
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding: 5rem 5%;
  display: grid;
  grid-gap: 15rem;
  grid-template-columns: 1fr 1fr;
}
.get-started{
  display: flex;
  flex-direction: column;
}
.last-section .email{
  width: 90%;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 5px hsl(238, 22%, 30%);
  border: none;

}
.last-section .btn{
  width: 40%;
  font-size: 14px;
  box-shadow: 1px 1px 10px hsl(238, 22%, 30%);
  padding: 13px 0;
}
